{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assign Activities</title>
    <!-- <script src="{% static 'js/Sortable.js' %}" defer></script> -->
    <!-- <script src="{% static 'js/jquery.js' %}" defer></script> -->
    <!-- <script src="{% static 'js/jquery-sortable.js' %}" defer></script> -->
    <!-- <script src="{% static 'js/project.js' %}" defer></script> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Latest Sortable -->
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  </head>
  <body>

	<div id="cloning">
	<h4>Cloning</h4>
	<p>Try dragging from one list to another. The item you drag will be cloned and the clone
      will stay in the original list.</p>
      <h3>Pictos</h3>

     {% if sorted_activity_list %}
      <div id="activitylist" class="row">
        {% for activity in sorted_activity_list %}
	<div class="grid-square">
          <div class="activity" draggable="true">
          <!-- {{ picto.order }} -->
          <img src="{{ STATIC_PREFIX }}images/picto/{{ activity.picto }}" width="32" height="32" alt="{{ activity.name_en }}">
	  <span id="name[]">{{ activity.id }}</span>
        </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}
    </div>
    <hr>
    <h3>All Pictos</h3>
     {% if sorted_picto_list %}
	<div id="pictogrid" class="row">
        {% for picto in sorted_picto_list %}
	<div class="grid-square">
          <div class="activity" draggable="true" pictid="{{ picto.id }}">
          <!-- {{ picto.order }} -->
          <img src="{{ STATIC_PREFIX }}images/picto/{{ picto.picto }}" width="32" height="32" alt="{{ picto.name_en }}">
	  <span id="name[]">{{ picto.id }}</span>
          </div>
        </div>
        {% endfor %}
	</div>
    {% endif %}
    </div>
         <br>
        <div class="text-center">
          <button type="button" id="generateJSON" class="btn btn-info">Generate JSON</button>
        </div>
      </div>

      <div class="col-md-6">
        <h4 class="text-center">JSON</h4>
        <pre id="printCode"></pre>
      </div>
	<hr />
	 <script>
  // generate product JSON
  $('#generateJSON').click(function() {

    let data = {};

    var pictos = $('span[id^=name]').map(function(idx, elem) {
      return $(elem).text();
    }).get();

    data['products'] = pictos;

    // encode to JSON format
    var pictos_json = JSON.stringify(data,null,'\t');
    $('#printCode').html(pictos_json);
  });
  </script>

  <script>

Sortable.create(pictogrid, {
  group: {
      name: 'shared',
      pull: 'clone',
      put: false // Do not allow items to be put into this list
  },
  animation: 150,
  ghostClass: 'blue-background-class',
  sort: false // To disable sorting: set sort to false
});

Sortable.create(activitylist, {
  group: {
    name: 'shared',
    pull: 'clone'
  },
  animation: 150,
  ghostClass: 'blue-background-class',
});
  </script>
  </body>
</html>
