{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assign Activities</title>
    <script src="{% static 'js/Sortable.js' %}" defer></script>
    <script src="{% static 'js/jquery.js' %}" defer></script>
    <script src="{% static 'js/jquery-sortable.js' %}" defer></script>
    <script src="{% static 'js/project.js' %}" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
  </head>
  <body>

		<div id="cloning" class="row">
			<h4 class="col-12">Cloning</h4>
			<p class="col-12">Try dragging from one list to another. The item you drag will be cloned and the clone will stay in the original list.</p>
      <h3 class="col-12">Pictos</h3>

     {% if sorted_activity_list %}
      <div id="activitylist" class="row">
        {% for activity in sorted_activity_list %}
				<div class="grid-square">
          <div class="activity" draggable="true" pictid="{{ picto.id }}">
          <img src="{{ STATIC_PREFIX }}images/picto/{{ activity.picto }}" width="32" height="32" alt="{{ activity.name_en }}">
        </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}
    </div>

    <hr>

    <h3>All Pictos</h3>
     {% if sorted_picto_list %}
			<div id="pictogrid" class="row">
        {% for picto in sorted_picto_list %}
				<div class="grid-square">
          <div class="activity" draggable="true" pictid="{{ picto.id }}">
          <!-- {{ picto.order }} -->
          <img src="{{ STATIC_PREFIX }}images/picto/{{ picto.picto }}" width="32" height="32" alt="{{ picto.name_en }}">
          <!-- <br>{{ picto.name_en }} -->
          </div>
        </div>
        {% endfor %}
			</div>
    {% endif %}

    </div>
		<hr />
  </body>
</html>
